div#four {
	background-image: url(../images/waterback.jpg);
	height: 100%;
	width: 100%;
}		

li.number {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 2.5rem;
	bottom: 0;
	opacity: .7;
	display: inline;
}

li#phone {
	margin-top: 1rem;
	font-size: 1.5rem;
}

ul#emails {
  margin: 0;
}
div#contact-wrap{
	background-color: black;
  height: 20rem;
  width: 26rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7rem;
	opacity: .7;
}

h2#contact {
	font-family: 'Roboto', sans-serif;
	text-align: center; 
	margin-bottom: 2rem;
	padding-top: 4rem;
	color:white;
	font-size: 3rem;
}

@media only screen and (max-width: 590px) {
  div#contact-wrap{
	background-color: black;
	height: 20rem;
	width: 18rem;
	margin-top: 4rem;
	}
	h2#contact {
	font-size: 2rem;
	}
	li.number {
	font-size: 1.5rem;
	}
	li#phone {
	margin-top: .5rem;
	font-size: 1rem;
	}
}

